<div class="card" id="{{id}}">
    <img src="{{photo}}" alt="Articles photo">
    <strong class="card_title">{{name}}</strong>
    <p class="card_text">{{description}}</p>
    <button class="btn_read_all">Read All</button>
    {{#if isNew}}
    <span class="badge">NEW</span>
    {{/if}}
</div>